<div class="container-fluid mt-2">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="appointment-tab" data-toggle="tab" href="#appointment" role="tab" aria-controls="appointment" aria-selected="true">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="doctor-tab" data-toggle="tab" href="#doctor" role="tab" aria-controls="doctor" aria-selected="false">Doctors Details</a>
        </li>
        
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="appointment" role="tabpanel" aria-labelledby="appointment-tab">
            <div class="row mt-5">
                <div class="col-md-6">
                    <h3>Doctor Appointments List</h3>
                </div>
                <div class="col-md-12 mt-3">
                    <table class="table table-sm table-dark table-hover">
                        <thead>
                          <tr class="bg-primary">
                            <th scope="col">No</th>
                            <th scope="col">Appointment No</th>
                            <th scope="col">Service Name</th>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Patient Mobile / Address</th>
                            <th scope="col">Hospital Branch</th>
                            <th scope="col">Appointment Date</th>
                            <th scope="col">Service Charges</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">Appointment Status</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let appointment of allAppointments; let i = index;" [attr.data-index]="i">
                            <td>{{i + 1}}</td>
                            <td>{{"Appointment - "+appointment._id}}</td>
                            <td>{{appointment.service.serviceName}}</td>
                            <td>{{appointment.patient.username}}</td>
                            <td>{{appointment.patient.mobile + " - " + appointment.patient.address}}</td>
                            <td>{{appointment.center.name + " - " + appointment.center.location}}</td>
                            <td>{{appointment.date}}</td>
                            <td>{{"Rs."+appointment.service.serviceCharges}}</td>
                            <td>
                                <h5 *ngIf="appointment.paymentStatus == 'not-paid'"><span class="badge badge-danger">Service Charge Not Paid</span></h5>
                                <h5 *ngIf="appointment.paymentStatus == 'paid'"><span class="badge badge-success">Service Charge Paid</span></h5>
                            </td>
                            <td>
                                <h5 *ngIf="appointment.status == 'doctor-pending'"><span class="badge badge-warning">Doctor Reviewing</span></h5>
                                <h5 *ngIf="appointment.status == 'doctor-accept'"><span class="badge badge-success">Doctor Accepted</span></h5>
                                <h5 *ngIf="appointment.status == 'doctor-rejected'"><span class="badge badge-danger">Doctor Rejected</span></h5>
                            </td>
                            <td>
                                <button type="button" *ngIf="appointment.status == 'doctor-pending'" class="btn btn-info btn-block btn-sm" data-toggle="modal" [attr.data-target]="'#doctorApprovalModel'+i">Get Action</button>
                                
                                <!-- Doctor action Model Start -->
                      <div class="modal fade" [attr.id]="'doctorApprovalModel'+i" role="dialog" aria-hidden="false">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                            <h5 class="modal-title text-dark">Appointment Action Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form
                                    name="formAppointmentAction"
                                    novalidate
                                >
                                
                                    <div class="form-group m-2">
                                        <label class="text-dark">Service Name - {{appointment.service.serviceName}}</label>
                                    <label for="service" class="text-dark">Do You Want Accept This Appointment?</label>
                                    <select class="form-control" name="appointmentAction" [(ngModel)]="formAppointmentAction.appointmentAction" #appointmentAction="ngModel">
                                        <option value="yes">
                                            Yes
                                        </option>
                                        <option value="no">
                                            No
                                        </option>
                                        
                                      </select>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group modal-footer">
                            <button [attr.id]="'closeAppointmentActionModel'+i" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="onSubmitSaveDoctorActionInAppointment(appointment._id, i, appointment.patient.email)">Save</button>
                            </div>
                        </div>
                        </div>
                      </div>
                        <!-- Doctor action Model End -->
                            </td>
                          </tr>
                        </tbody>
                      </table>


                      
                </div>
             </div>
        </div>



        <div class="tab-pane fade " id="doctor" role="tabpanel" aria-labelledby="doctor-tab">
            <div class="jumbotron">
                <h1 class="display-4">Dr.{{doctorDetails.name}}</h1>
                <p class="lead">Email - {{doctorDetails.email}}</p>
                <p class="lead">Specialization - {{doctorDetails.specialization}}</p>
                <p class="lead">Educational Qualification - {{doctorDetails.eduQualification}}</p>
                <hr class="my-4">
                <h3>Services List</h3>
                <p>Please Enter services you wish to provide to patients.</p>
                <div class="col-md-12 mt-5 mb-3">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
                        Add More Service
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Select Services From List</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form
                                    name="formService"
                                    (ngSubmit)="f.form.valid && onSubmitSaveService()"
                                    #f="ngForm"
                                    novalidate
                                >
                                
                                    <div class="form-group m-2">
                                    <label for="service">Service</label>
                                    <select class="form-control" name="service" [(ngModel)]="formService.service" #service="ngModel" id="exampleFormControlSelect1">
                                        <option *ngFor="let service of userService.serviceList" [ngValue]="service._id">
                                            {{ service.serviceName }}
                                        </option>
                                        
                                      </select>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group modal-footer">
                            <button id="closeServiceModel" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="onSubmitSaveService()">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4" *ngFor="let item of userService.doctorHasServiceList">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">{{item.service.serviceName}}</div>
                                    <div class="col-md-4"><button type="button" class="btn btn-danger btn-sm" (click)="deleteDoctorService(item._id)">Delete</button></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <h3>Hospital Branch List</h3>
                <p>Please Enter branch location.</p>
                <div class="col-md-12 mt-5 mb-3">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serviceCenterModel">
                        Add More Hospital Branch
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="serviceCenterModel" tabindex="-1" role="dialog" aria-labelledby="serviceCenterModelTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                            <h5 class="modal-title" id="serviceCenterModelTitle">Enter Branches Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form
                                    name="formServiceCenter"
                                    (ngSubmit)="f.form.valid && onSubmitSaveServiceCenter()"
                                    #f="ngForm"
                                    novalidate
                                >
                                
                                    <div class="form-group m-2">
                                    <label for="service">Branch Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="serviceCenterName"
                                        [(ngModel)]="formServiceCenter.serviceCenterName"
                                        required
                                        #serviceCenterName="ngModel"
                                    />
                                    </div>
                                    <div class="form-group m-2">
                                        <label for="service">Branch Location</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="serviceCenterLocation"
                                            [(ngModel)]="formServiceCenter.serviceCenterLocation"
                                            required
                                            #serviceCenterLocation="ngModel"
                                        />
                                        </div>
                                </form>
                            </div>
                            <div class="form-group modal-footer">
                            <button id="closeServiceCenterModel" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="onSubmitSaveServiceCenter()">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4" *ngFor="let item of userService.doctorServiceCenterList">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">{{item.name + " - " + item.location}}</div>
                                        <div class="col-md-4"><button type="button" class="btn btn-danger btn-sm" (click)="deleteDoctorServiceCenter(item._id)">Delete</button></div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>