<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
                <form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] ="patientService.selectedPatient._id">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="name" #name="ngModel" [(ngModel)]="patientService.selectedPatient.name" placeholder="Enter Full Name">
                            <label>Name:
                                <label class="red-text">*</label>
                            </label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="email" #name="ngModel" [(ngModel)]="patientService.selectedPatient.email" placeholder="Enter Email">
                            <label>Email:
                                <label class="red-text">*</label>
                            </label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="mobile" #name="ngModel" [(ngModel)]="patientService.selectedPatient.mobile" placeholder="Enter Mobile">
                            <label>Mobile:
                                <label class="red-text">*</label>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <button class="btn btn-custom right" type="button" (click)="resetForm(patientForm)">Reset</button>
                          <button class="btn btn-custom right" type="submit" [disabled]="!patientForm.valid">Submit</button>
                        </div>
                      </div>
                </form>
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let pat of patientService.patients">
                        <td>{{pat.name}}</td>
                        <td>{{pat.email}}</td>
                        <td>{{pat.mobile}}</td>
                        <td>
                            <a class="action-btn" (click)="onEdit(pat)">
                                <i class="material-icon">edit</i>
                            </a>
                            <a class="action-btn" (click)="onDelete(pat._id, patientForm)">
                                <i class="material-icon">delete</i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
          </div>
      </div>
    </div>
  </div>
            